<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientId" value="d2783806-a799-4f28-b9de-c03c0548ba09" />
    <add key="TennantId" value="2654d4d0-b846-4a3a-96c4-48d91b8c1ba1" />
    <add key="ClientSecret" value="Mgd3qzy2B3+emA+Ku2ScLarNkSFzLn9fzt8u5Oihzy8=" />
    <add key="SubscriptionId" value="93f5b20f-28e1-4779-9e66-2526128bce20" />
    <add key="ResourceGroupName" value="CloudPrototyperGroupa" />
    <add key="OutputFolderPath" value="C:\CloudPrototyperOutput" />
    <add key="BenchmarkFileOutput" value="C:\CloudPrototyperOutput\Bechmark" />
    <add key="DataLayerLibraryPath" value="C:\CloudPrototyperOutput\DataLayer" />
    <add key="AzureRegion" value="westeurope" />
  </appSettings> 
</configuration>